/* MIXINS */
.box-shadow(@props){
    -webkit-box-shadow: @props;
    -moz-box-shadow: @props;
    box-shadow: @props;
}

.bg-img (@url, @props, @size) {
    background: url(@url) @props;
    -webkit-background-size: @size;
    -moz-background-size: @size;
    -o-background-size: @size;
    background-size: @size;
}

.filter (@filters) {
	filter: @filters;
	-webkit-filter: @filters;
	-moz-filter: @filters;
	-o-filter: @filters;
	-ms-filter: @filters;
}

.center(@top, @right, @bottom, @left) {
	position: absolute;
	top: @top;
	bottom: @bottom;
	left: @left;
	right: @right;
	margin: auto;
}

.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@black: lighten(black, 30%);
@lightBlack: lighten(black, 70%);
@gray: lighten(@lightBlack, 20%);
@blue: #2E93FF;
@green: #74FF5C;
@red: #EF7452;
@purple: #AF75FF;
@backgroundColor: #0046A6;//lighten(@blue, 40%);

@headerBorder: 1px solid @lightBlack;

/* GLOBAL */

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	color: white;
}

h1 {
	margin: 0;
	font-size: 60px;
}

/* SITE CSS */

.block {
	height: 100%;
	.font-smoothing;

	&:first-child {
		background-color: #0046A6;
		h1 {
			width: 500px;
		    height: 100px;
		    .center(0, 380px, 40px, 0);
		    font-weight: bold;
		}
		ul#traits {
			list-style-type: disc;
			width: 500px;
			height: 100px;
		    .center(0, 0, 40px, 550px);

		    li:not(:first-child) {
		    	margin-top: 10px;
		    }
		}
		ul#social {
			width: 100%;
			position: absolute;
			bottom: 0;
			text-align: center;
			a {
				display: inline-block;
				width: 100%;
				height: 100%;
			}
			img {
				width: 50px;
				margin: 25px;
			}

			li {
				display: inline-block;
				width: 100px;
				height: 100px;
				background: white;
				border-radius: 50%;
				margin: 30px;
			}
		}
		.down {
			display: inline-block;
			width: 100px;
			height: 50px;
		    position: absolute;
		    bottom: 0;
		    left: 48%;
		}
	}

	&:nth-child(2) {
		background-color: #00A1B2;
	}
}
